.sell-waste {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-image: url(katie-rodriguez-qsVWEGNnIrM-unsplash.jpg) ;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.9);
    text-align: center;
}
body{
    background-image: url(https://images.unsplash.com/flagged/photo-1572213426852-0e4ed8f41ff6?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.sell-waste h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sell-waste p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="month"] {
    padding: 8px;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #2ecc71;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #27ae60;
}
textarea{
    height: 100px;
    width: 100%;
}
